<div class="row">
  <div class="span8">
    <h1>Partits</h1>
    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th>Accio</th>
          <th>Partit</th>
          <th>Aposta</th>
          <th>Resultat</th>
          <th>Hora Partit</th>
          <th>Tancament</th>
          <th>Boxing</th>
        </tr>
      </thead>
      <tbody>
        <% @games.each do |game| %>
        <tr 
          <% if game.userbet(current_user) and game.userbet(current_user).scored? %> 
            class="success" 
          <% elsif game.userbet(current_user) and game.userbet(current_user).secondscored?  %>
            class="info" 
          <% end %>>
          <td>
            <% if game.closeTime.past? %>
            <%= link_to 'Tancat',
            game_bets_path(game.id),
            :class => 'btn btn-primary' %>
            <% else %>
            <% if game.userbet(current_user) %>
            <%= link_to "Cambiar",
            edit_game_bet_path(game.id,game.userbet(current_user).id),
            :class => 'btn btn-primary' %>
            <% else %>
            <%= link_to "Jugar",
            new_game_bet_path(game.id),
            :class => 'btn btn-primary' %>
            <% end %>
            <% end %>  
          </td>
          <td><%= game.description %></td>
          <td>
            <% if game.userbet(current_user) %>
            <%= game.userbet(current_user).score %>
            <% end %>  
          </td>
          <td><%= game.score %></td>
          <td><%= game.gameTime %></td>
          <td><%= game.closeTime %></td>
          <td>
            <% if game.boxing %>
            <%= link_to game.boxing.description,
            standing_boxing_path(game.boxing.id),
            :class => 'btn btn-info' %>
            <% end %>
          </td>  
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="span4">
    <h3>Classificacio</h3>
    <table class="table table-striped table-condensed table-bordered">
      <thead>
        <tr>
          <th>Jugador</th>
          <th>Punts</th>
        </tr>
      </thead>
      <tbody>
        <% @standings.each do |user| %>
        <tr>
          <td><%= user.username %></td>
          <td><%= user.numpoints %></td>
        </tr>
        <% end %>

      </tbody>
    </table>
  </div>
</div>
