<div class="page-header">
  <h1>Matchs day</h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>'Id'</th>
      <th>'Local'</th>
      <th>'Visitant'</th>
      <th>'Competition Name'</th>
    </tr>
  </thead>
  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= game['id'] %></td>
        <td><%= game['local'] %></td>
        <td><%= game['visitor'] %></td>
        <td><%= game['competition_name'] %></td>
      </tr>
    <% end %>
  </tbody>
</table>

