<p>Hola <%= @resource.email %>!</p>

<p>Algu ha demanat de reestablir el teu password, pots fer-ho en el link d'aqui sota.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>El teu password no canviara si no segueixes el link.</p>
